<div data-ng-controller="MemberListController">
        <h2>Member Data</h2>
    <div data-ng-show="!isBusy">Member total count: {{ data.members.length }}</div>
    <div data-ng-show="!isBusy">Mien: {{ data.test | miens }}</div>

    <div>
        <a href="#/addMember">Add New Member</a>
    </div>
        <div class="progress progress-striped active" data-ng-show="isBusy">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
            
    <section data-ng-show="!isBusy">
        <input type="text" data-ng-model="searchMember" placeholder="Search..." size="20" /><button class="btn btn-primary btn-sm" data-ng-click="clearSearch()"><i class="icon-white icon-remove"></i> Clear</button><span>{{filtered.length}} member found</span>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Miền</th>
                    <th>Đoàn</th>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody data-ng-repeat="i in filtered = (data.members  | filter:searchMember)">
                <tr>
                    <td> {{i.mienId | miens}} </td>
                    <td> {{i.doanName}} </td>
                    <td>{{ i.role | roles}}</td>
                    <td><a data-ng-href="#/member/{{ i.id }}"> {{i.saintName + ' ' + i.lastName + ' ' + i.middleName + ' ' + i.firstName}}</a> </td>
                    <td>{{i.email}}</td>
                    <td> {{i.dateOfBirth | date:"MM/dd/yyyy"}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>